body {
  background-color: #000;
  color: #fff;
}

.app {
  text-align: center;
  padding: 5%;
}

.app-title {
  font-size: 26px;
}


/*Profile*/

.profile {
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border: 3px solid white; /*contrast the black background*/
  border-radius: 75px;
  object-fit: cover; /*important for various widths and heights of artists*/
}

.profile-info {
  margin-left: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-name {
  font-size: 26px;
  animation-name: enlarge;
  animation-duration: .25;
}

.profile-followers {
  font-size: 18px;
}

.profile-genres {
  font-size: 18px;
}


/*Gallery*/

.Gallery {
  margin: 10px;
  text-align: center;
}

.track {
  display: inline-block;
  margin: 10px;
  width: 220px;
  height: 220px;
  position: relative;
  padding: 10px;
  text-align: left;
}

.track-img {
  width: 220px;
  height: 220px;
  border: 3px solid white;
  border-radius: 3px;
  object-fit: cover;
  position: absolute;
  filter: brightness(70%);
}

.track-text {
  background-color: black;
  opacity: 0.75;
  margin-left: 3px;
  width: 214px;
  color: '#fff';
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 10px;
}